.resume-text-outer {
        opacity: 1;
        background-color: var(--resume-text-outer-bg);
        width: 100%;
        display: block; 
}
@media (min-width: 601px) and (max-width: 1024px) {
.resume-text-outer {
        opacity: 1;
}
}
@media (max-width: 600px) {
.resume-text-outer {
        opacity: 1;
}
}
.resume-text-inner {
        opacity: 1;
        margin: 0 auto;
        padding: 10px 200px 10px 10px;
        max-width: 1000px;
        width: 100%;              
        display: block;
        box-sizing: border-box;
}
@media (min-width: 601px) and (max-width: 1024px) {
.resume-text-inner {
        opacity: 1;
}
}
@media (max-width: 600px) {
.resume-text-inner {
        opacity: 1;
}
}